version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: visitly-app:latest
    ports:
        - "8081:8080"        # Application
        - "5005:5005"        # DEBUG PORT
    environment:
      # ENV VARIABLES FOR SPRING BOOT APPLICATION
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: ${POSTGRES_URL:-jdbc:postgresql://db:5432/visitlydb}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER:-visitly}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD:-example}
      JWT_SECRET: wqeqhudhddksjjdksdefwofsbvbfvufhh2e1212u3123u12321j3nj
      JWT_EXPIRATION_MS: 86400000

      # ENV VARIABLES FOR RABBITMQ
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: "5672"
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest

      # ENABLE JAVA REMOTE DEBUGGER
      JAVA_TOOL_OPTIONS: >
        -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: on-failure

  db:
    image: postgres:17
    environment:
      POSTGRES_URL: jdbc:postgresql://host.docker.internal:5432/visitlydb
      POSTGRES_USER: visitly
      POSTGRES_PASSWORD: example
      POSTGRES_DB: visitlydb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-visitly} -d ${POSTGRES_DB:-visitlydb} -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 10

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
  rabbitmq-data:
